<!doctype html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body ng-controller="appController">

    Message: {{message}}

    <div style="margin:10px;">
        <input type="text" placeholder="product name" ng-model="productName" />
    </div>
    <div style="margin:10px;">
        <button ng-click="addProduct(productName)">
            Create
        </button>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <!--Controller-->
    <script src="Assets/Scripts/appController.js"></script>

    <!--Models-->
    <script src="Assets/Scripts/Point.js"></script>
    <script src="Assets/Scripts/AppStart.js"></script>
</body>
</html>